html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4rem;
}

header {
  background-image: url(./images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

nav div {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

.truncatedMenu {
  display: none;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.mainBanner {
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

.mainBanner h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.features {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.exams img {
  width: 3.5rem;
}

.fittings img {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}

.supporting {
  display: flex;
  justify-content: center;
}

.info-block {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.info-block h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
}

.info-block p {
  margin-top: 1rem;
}

footer {
  display: flex;
  align-items: center;
  padding: 4rem;
  background-color: azure;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 980px) {
  .container {
    max-width: 100%;
  }
  header {
    padding-top: 0;
    height: 22rem;
  }
  .mainBanner {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }
  .menu ul.truncatedMenu {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  header {
    background-position: 20%;
    height: 17rem;
  }
  .logo span {
    display: none;
  }
  .mainBanner {
    width: 100%;
    padding: 1rem;
    margin: 9rem auto 0;
  }
  .mainBanner h1 {
    font-size: 1rem;
    text-align: center;
  }
  .features {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
  }
  .feature {
    margin-bottom: 1.54rem;
    height: 6rem;
  }
  .feature span {
    font-size: 0.77rem;
  }
  .supporting {
    flex-direction: column;
    align-items: center;
  }
  .info-block {
    width: 95%;
    margin-top: 3.77rem;
    margin-bottom: 2rem;
  }
  .info-block h4 {
    width: 100%;
  }
  .info-block p {
    font-size: 0.77rem;
    margin-left: 1rem;
  }
  footer span {
    display: none;
  }
  footer {
    justify-content: center;
  }
}
